[submodule "repo'\" --ggggg -g"]
	path = repo'\" --ggggg -g
	url = https://github.com/orgh1702/repo1
[submodule "repox"]
	path = repox
	url = https://githuc.com/orgh1702/repox
[submodule "test --xxxx -y"]
	path = test --xxxx -y
	url = https://github.com/gfrooo1989/test-linking
[submodule "hhhhhhhh\" --xxxx -y"]
	path = hhhhhhhh\" --xxxx -y
	url = https://github.com/gfrooo1989/test-linking
